!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", content: "IE=edge" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }

    %meta{ name: "description", content: "wPGSA is a method to estimate relative activities of transcriptional regulators from given transcriptome data." }
    %meta{ name: "author", content: "Eiryo Kawakami, Tazro Ohta" }

    %title= "wPGSA online"

    // Bootstrap core and typeahead CSS
    %link{ href: "#{app_root}/css/bootstrap.min.css", rel: "stylesheet" }
    /
      %link{ href: "#{app_root}/css/typeaheadjs.css", rel: "stylesheet" }

    // Custom style for this website
    %link{ href: "#{app_root}/style.css", rel: "stylesheet"}

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{ type: "button", "data-toggle" => "collapse", "data-target" => "#navbar", "aria-expanded" => "false", "aria-controls" => "navbar" }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ href: "#{app_root}" }= "wPGSA"
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{ href: "/download" }= "Download Peak Data"
            %li
              %a{ href: "https://github.com/eiryo-kawakami/wPGSA" }= "Documentation"
            %li
              %a{ href: "https://github.com/eiryo-kawakami/wPGSA/issues" }= "Report Problem"


    .container
      .jumbotron
        %h1
          wPGSA
        %p.main-desc
          Estimate relative activities of transcriptional regulators from transcriptome data by weighted Parametric Gene Set Analysis: wPGSA.

    .container
      .row
        .col-md-12
          .panel.panel-default
            .panel-heading{ id: "userDataInputPanel" }
              %h2.panel-title= "Upload your transcriptome data to run wPGSA"
            .panel-body.userData
              .panel-input
                %row
                  .col-md-9
                    %p
                      It takes a few minutes or longer depend on your data size.
                    %form.form-inline#uploadUserDataFile
                      .form-group
                        %input.filestyle{ type: "file", name: "file", id: "userDataFile", "data-buttonText" => "Select", "data-buttonBefore" => "true", "data-placeholder" => "No file selected"  }
                        %input.btn.btn-default{ type: "submit", name: "submit", id: "uploadUserDataFile" }
                  .col-md-3
                    .linkExample
                      %a.dataExample{ href: "/result?uuid=example", id: "exampleData" }
                        See result page of example data
                %row
                  .col-md-9
                    .load-image

          .panel.panel-default
            .panel-heading{ id: "aboutInputDataFormat" }
              %h2.panel-title= "About input data format"
            .panel-body.panel-body-desc
              .panel-input
                %p
                  Log fold change data should be prepared in an ASCII tab delimited text file. It is organized as follows.
                %p
                  To create and edit the log fold change file, use a text editor or Excel. When you use Excel, be aware of a problem as described in
                  %a{ href: "http://www.ncbi.nlm.nih.gov/pubmed/15214961" }
                    Zeeberg et al 2004
                  \.
                %p
                  %img{ src: "/images/dataformat.png", alt: "dataformat"}
                %p
                  The first line contains the identifiers for each sample in the dataset.
                %dl.dl-horizontal
                  %dt Line format:
                  %dd Gene Symbol(tab)(sample1 name)(tab)(sample2 name)(tab) … (sampleN name)
                  %dt Example:
                  %dd Gene Symbol(tab)K_Virus_0(tab)K_Virus_3(tab) … K_Virus_D7
                %p
                  The remainder of the lines contains log fold change (LFC) data for each of the genes.
                %dl.dl-horizontal
                  %dt Line format:
                  %dd (gene name)(tab)(LFC of sample1)(tab)(LFC of sample2)(tab) … (LFC of sampleN)
                  %dt Example:
                  %dd Plekhg2(tab)-0.092(tab)0.170(tab) … 0.047

          .panel.panel-default
            .panel-heading#changeLog
              %h2.panel-title= "Change Log"
            .panel-body.panel-body-desc
              .panel-input
                %dl.dl-horizontal
                  %dt 5 April 2016
                  %dd Implemented table view. Bug report is welcome, please send your problem or thoughts via GitHub issue!
                  %dt 3 March 2016
                  %dd Added input data format description
                  %dt 29 February 2016
                  %dd Publish data download page
                  %dt 4 February 2016
                  %dd Launch website, upload data to run wPGSA, heatmap view

          .panel.panel-default
            .panel-heading#futureWork
              %h2.panel-title= "Future Work"
            .panel-body.panel-body-desc
              .panel-input
                %ul
                  %li Faster execution of wPGSA
                  %li Heatmap view threshold feature (currently whole result data only)
                  %li Documentation of algorithm

    %footer.footer
      .container
        %row
          .col-md-4.col-md-offset-4
            /
              %a{ href: "http://dbcls.rois.ac.jp", target: "_blank" }
                %img{ src: "/images/logo/dbcls_logo.png", width: 100 }

    /
      Bootstrap Core Javascript
      =========================
    %script{ src: "#{app_root}/js/jquery.min.js" }
    %script{ src: "#{app_root}/js/bootstrap.min.js" }
    %script{ src: "#{app_root}/js/ie10-viewport-bug-workaround.js" }
    %script{ src: "#{app_root}/js/liquidmetal.js" }
    %script{ src: "#{app_root}/js/bootstrap-filestyle.min.js" }
    %script{ src: "#{app_root}/js/wpgsa/wpgsa.js" }
    %script{ src: "#{app_root}/js/wpgsa/upload.js" }

    /
      %script{ src: "#{app_root}/js/typeahead.bundle.js" }
      %script{ src: "#{app_root}/js/jquery.flexselect.js" }
      %link{ href: "#{app_root}/css/flexselect.css", rel: "stylesheet", type: "text/css", media: "screen" }
